@import '../../../../config-scss/rem-calc.scss';
:host{
    div{
        width: 100%;
        display: flex;
    }
    .sideBar{
        width: 18%;
        height: 100%;
        background-color: #181C2e;
        position: fixed;
        overflow: auto;
      
        .box_image{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: rem-calc(250);
            height: rem-calc(150);
            background: url('../../../../assets/cover.png');
            background-color: #181C2e;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            
        }   
        img{
            border-radius: 50%;
            margin: auto;
            width: rem-calc(90);
            height: rem-calc(90);
            -webkit-filter: drop-shadow(3px 3px 6px #121212);
            filter: drop-shadow(3px 3px 6px #121212);
            object-fit: cover;
        }

        a {
            display: block;
            color: rgba(255, 255, 255, 0.7);
            padding: 16px;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            transition: ease-in-out .4s;
            font-weight: 900;
        }
        a:hover{
            background-color: #121212;
            color: #FFF;
        }

    }
    .content{
        width: 82%;
        height: 100%;
        position: absolute;
        left: 18%;
       background-color:#FFF;
       display: flex;
       align-items: center;
       justify-content: center;
    }

}