@import '../styles.scss';

:host{
    .title{
        width: 90%;
        height: rem-calc(70);
        border-radius: rem-calc(20);
        background-color: #f8f8f8;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}