<div>
    <nav [ngClass]="'sideBar'">
        <div class="box_image">
            <img src="../../../../../../assets/avatar.png" alt="Foto avatar" />
        </div>
        <a routerLink="dashboard" >Chamados</a>
        <a routerLink="customers">Clientes</a>
        <a routerLink="profile">Configurações</a>
    </nav>
    <!-- <div class="content" >
        <div class="title">

            <h2>icone</h2>
        </div> -->

        <!-- <div className='container'>
            <form className='form-profile' onSubmit={handleSave}>
                <label className='label-avatar'>
                    <span>
                        Icone
                    </span>

                    <input type="file" accept='image/*' onChange={handleFile} /> <br />
                    
                        <img src="../../../../../../assets/avatar.png" width="250" height="250" alt='Foto perfil do usuario' />
                        
                    
                </label>

                <label>Nome</label>
                <input type="text"   />
                <label>Email</label>
                <input type="text"   />

                <button type='submit'>Salvar</button>
            </form>
        </div>
        <div className='container'>
            <button className='logout-btn'>Sair</button>
        </div> 
        
    </div> -->
</div>